:root {
  --text-color: #333;
  --cross-size: 1.5rem;

  @media (min-width: 640px) {
    --cross-size: 1.2rem;
  }
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  color: var(--text-color);
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed;
  background-image: url("https://fastly.picsum.photos/id/12/1440/760.jpg?hmac=7W7Q_3j0G1FfdpAXlHD2tJw2MmSGcKaKcKu1a4O74dk");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: var(--cross-size);
  height: var(--cross-size);
  z-index: 99999;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: calc(var(--cross-size) / 2);
  content: ' ';
  height: var(--cross-size);
  width: 0.1rem;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

dialog {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 99999;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(2rem);
}

dialog.visible {
  opacity: 1;
  transform: translateY(0);
}

dialog::backdrop {
  opacity: 0;
}

@media (min-width: 640px) {
  dialog {
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 400px;
    max-width: 45vw;
    min-height: 10rem;
  }

  dialog::backdrop {
    background: #33333333;
    z-index: 99998;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease-in-out;
  }

  dialog.visible::backdrop {
    opacity: 1;
  }
}